.top-bar{
    font-size: 13px;
    font-family: arial,sans-sarif;
    width: 100%;
}
.bottom-bar{
    font-size: 13px;
    font-family: arial,sans-sarif;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    background-color: #f2f2f2;
    /*border-color: rgb(242 242 242);
    border: 1px;*/
}

.top-bar a,.bottom-bar a{
  padding-left: 15px;
  color: #000;
  opacity: 0.75;
  display: inline-block;
  text-decoration: none;
}
.top-bar a:hover,.bottom-bar a:hover{
  text-decoration: underline;
}
.left-top-bar,.right-top-bar,.left-bottom-bar,.right-bottom-bar{
  display: inline-block;
  position: relative;
  min-width: 181px;
}
.left-bottom-bar,.right-bottom-bar{
  top: 50%;
  transform: translateY(-50%);
}
.left-top-bar{
  margin: 10px 0 0 20px;
}
.left-bottom-bar{
  margin: 0 0 0 20px;
}
.right-top-bar{
  text-align: right;
  float: right;
  margin: 10px 40px 0 0;
}
.right-bottom-bar{
  text-align: right;
  float: right;
  margin: 0 40px 0 0;
}
.usr-img, .settings-img{
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin: 0 0 0 10px;
}
.usr-img{
  border-radius: 50%;
}
.settings-img{
  opacity: 50%;
}
.settings-img:hover{
  opacity: 85%;
}
